figure.gallery {
    display: inline-block !important;
    float: none !important;
    vertical-align: top;
}

figure.gallery img {
    width: 12em;
    height: 12em;
    object-fit: contain;
    border-style: solid;
    border-width: 0.2em;
}

figure.gallery figcaption {
    width: 12em;
    text-align: center;
    padding: 0;
    margin: 0;
}

div.highlight-python pre,
div.highlight-shell pre {
    font-family: Consolas, "Courier New", Courier, Monaco, monospace;
}
